<html>
  <head>
    <title>Verify email</title>
  </head>

  <body>
    <div>
      <p>Hello {{merchantName}},</p>
    </div>
    <div>
      <p>
       Thank you for Signin up with us. Click on this link {{emailVerifyLink}} to verify your email.
      </p>
    </div>
      <p>Regards</p>
      <p>ReviewReels Team</p>
    </div>
  </body>
</html>
