<html>
  <head>
    <title>Review Response</title>
  </head>

  <body>
    <div>
      <p>Hello {{merchantName}},</p>
    </div>
    <img
      src="{{imageUrl}}"
      style="
        background: #f2f2f2;
        border-radius: 16px;
        width: 231px;
        height: 330px;
      "
    />
    <div>
      <p>
        You have received a new review video from {{responseUserName}}. Please log onto
        ReviewReels app to view/download the video.
      </p>
    </div>
    <div>
      <p>Next steps:</p>
      <ol>
        <li>
          Thank the customer who sent this review video :) Good deeds should be
          rewarded.
        </li>
        <li>
          Publish the video on all your social media channels by downloading it
          from ReviewReels app.
        </li>
        <li>Embed the video on your website :)</li>
      </ol>
      <p>Regards</p>
      <p>ReviewReels Team</p>
    </div>
  </body>
</html>
