<html>
  <head>
    <title>Review Response</title>
  </head>

  <body>
    <div>
      <p>Hello {{merchantName}},</p>
    </div>
    
    <div>
      <p>
        You have received a new review  from {{responseUserName}}. Please log onto
        ReviewReels app to view/embed the review.
      </p>
    </div>
    <div>
      <p>Next steps:</p>
      <ol>
        <li>
          Thank the customer who sent this review  :) Good deeds should be
          rewarded.
        </li>
        <li>Embed the review on your website :)</li>
      </ol>
      <p>Regards</p>
      <p>ReviewReels Team</p>
    </div>
  </body>
</html>
